h1 {
  background-color: #5a8add;
  color: white;
  padding: 50px;
  text-align: center;
  font-size: 3em;
  font-family:"Helvetica",sans-serif;
  display: inline-block;
  align: center;

}

body {
  background-image: url("mtrainierfinally.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
}
